*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgb(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #009fe3;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}
