.navbar {
  display: flex;
  align-items: center;
  background-color: #00abf9;
  padding: 10px 20px;
  color: #fff;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  margin-right: 50px;
  color: #fff;
  text-decoration: none;
}

.container-menu {
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.menu-item {
  position: relative;
  padding: 10px 20px;
  font-weight: bold;
  color: #000;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  background-color: #f1f8fe;
  min-width: 190px;
  z-index: 10;
  padding: 10px;
  border-radius: 5px;
  list-style: none;
  margin: 0px;
}

.menu-item:hover .dropdown {
  display: block;
}

.dropdown-item {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;

  & a {
    text-decoration: none;
    color: #000;
  }
}

.dropdown-item:hover {
  background-color: #c3def8;
}

.logout {
  border: none;
  background-color: #00abf9;
  color: #fff;
  cursor: pointer;
}
